body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

#nav_top {
  background-color: rgba(135, 206, 250, 0.4);
  padding: 0 8%;
}

/* #nav_bar {
  font-size: 20px;
  margin-left: -100px;
} */
#search {
  border-radius: 0;
  border: none;
  position: relative;
  left: 47px;
  box-shadow: 0px 12px 45px 0px rgb(153, 213, 233);
}
#searchbtn {
  position: relative;
  border: none;
  border-radius: 0;
  z-index: 99;
  background-color: rgba(255, 182, 193, 0.5);
}
@media only screen and (max-width: 768px) {
  #searchform {
    margin-bottom: 30px;
    margin-top: 20px;
    position: relative;
    left: -45px;
  }
}
@media only screen and (max-width: 500px) {
  #top_nav {
    padding: 0;
  }
}

/* banner */
#banner {
  background-color: rgba(255, 182, 193, 0.5);
  padding-bottom: 20px;
}
#banner-text h1 {
  color: black;
  font-size: 50px;
  margin-top: 100px;
}
#banner-text p {
  color: black;
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 20px;
}
#banner-btn-1 {
  background-color: black;
  color: white;
  border: 2px soild black;
}
#banner-btn-2 {
  color: black;
  border: 2px solid black;
  margin-left: 15px;
}

@media only screen and (max-width: 1300px) {
  #banner-text h1 {
    font-size: 50px;
  }
  #banner {
    padding-bottom: 70px;
  }
}
@media only screen and (max-width: 900px) {
  #banner-text h1 {
    font-size: 40px;
  }
  #banner_img img {
    padding-top: 90px;
  }
}

/* service */
#service-text {
  padding-top: 10%;
  padding-bottom: 5%;
}
#servicebtn {
  color: black;
  background-color: lightblue;
  border: 2px solid lightblue;
}
#service-img {
  padding: 5%;
}
@media only screen and (max-width: 768px) {
  #service-img {
    padding-top: 10%;
  }
}

/* counter */

#counter-section {
  background-color: rgb(153, 213, 233, 0.5);
  padding-top: 50px;
  padding-bottom: 70px;
  background-position: center;
  background-size: cover;
  /* background-image: url("C:/Users/HP/Desktop/bootstrap/project2/Capture.PNG"); */
}

.carousel-control-next-icon {
  font-size: 70px;
}
@media only screen and (max-width: 500px) {
  .carousel-control-next-icon {
    font-size: 70px;
  }
}

/* blog */
#blog {
  padding-bottom: 70px;
  padding-top: 70px;
}
#blog-title {
  font-size: 50px;
  font-weight: bolder;
}
#blog-p {
  font-size: 20px;
  margin-bottom: 70px;
}
.artical-details {
  padding: 15px;
  border: 1px solid rgb(185, 185, 185);
  border-top: 0;
}
.artical-date,
.artical-link {
  color: #00bec9;
}

/* footer */
#footer {
  background-color: #343434;
  padding-top: 80px;
  padding-bottom: 80px;
}
#footer a {
  color: white;
  text-decoration: none;
}

#footer-form {
  margin-top: 10px;
  margin-bottom: 10px;
}
#footer-search-box {
  position: relative;
  left: 30px;
}

#footer-submit {
  border: none;
  position: relative;
  left: -5px;
}
.social-icon {
  font-size: 25px;
  padding-left: 5px;
}
